* {
    padding: 0;
    margin: 0;
}

header .welcome{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-top: 65px;
    margin-left: 20px;
}

main .Roulette{
    width: 300px;
    height: 150px;
    margin: 20px;
    border: solid 1px #D3D3D3;
    padding: 10px;
}

main .Roulette p{
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

main .Roulette .author-div{
    text-align: right;
}

main .Roulette button{
    position: fixed;
    top: 265px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #2AC1BC;
    border: solid 1px #2AC1BC;
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: solid 1px #D3D3D3;
}

footer .nav {
    display: flex;
    justify-content: center;
    padding-top: 10px; 
    padding-bottom: 5px;
    
}

footer .nav div {
    margin-left: 25px;
    margin-right: 25px;
}
