*{
    padding: 0;
    margin: 0;
}

/**/
header h1{
    margin: 15px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

.joinProcessStatus ul{
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    height: 10px;
}

.joinProcessStatus li{
    margin: 5px;
}

/*반응형 넣기*/
.pageInfo{
    margin: 20px;
}

.pageInfo .pageNum{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: -0.48px;
}

.pageInfo .pageGuide{
    color: #8C9095;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.ID{
    margin-left: 20px;
    margin-right: 20px;
}

.ID .inputID{
    width: 90%;
    padding: 15px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.PW{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.PW .inputPW {
    width: 90%; 
    padding: 15px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.PW .checkPW{
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

footer .nextBtn{
    margin: 20px;
    padding: 18px;
    background-color: #F76707;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    text-align: center;
    border-radius: 10px;
}