*{
    padding: 0;
    margin: 0;
}

/**/
header h1{
    margin: 15px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

.joinProcessStatus ul{
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    height: 10px;
}

.joinProcessStatus li{
    margin: 2px;
}

/*반응형 넣기*/
.pageInfo{
    margin: 20px;
    margin-top: 30px;
}

.pageInfo .pageNum{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: -0.48px;
}

.pageInfo .pageGuide{
    color: #8C9095;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.NAME,
.ID,
.PW {
  margin: 20px 20px 0;
}

.NAME .inputNAME,
.ID .inputID,
.PW .inputPW {
  width: 90%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.PW .checkPW{
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.NAME .inputNAME:hover,
.ID .inputID:hover,
.PW .inputPW:hover,
.PW .checkPW:hover {
  border: 1px solid #F76707;
}

.NAME .inputNAME:focus,
.ID .inputID:focus,
.PW .inputPW:focus,
.PW .checkPW:focus {
  outline: 1px solid #F76707;
}

.error-message {
    color: var(--red-400, #FF5151);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 15px */
    letter-spacing: -0.3px;
    text-align: center;
    margin-top: 40px;
}

footer .nextBtn{
    position: fixed;
    bottom: 0;
    width: 89%;
    margin: 20px;
    padding: 18px;
    background-color: #F76707;
    border: 1px solid #ccc;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    text-align: center;
    border-radius: 10px;
}