@font-face {
  font-family: 'Partial Sans KR';
  src: url('/fonts/partialSansKr-Regular.woff2') format('woff2'); /* 파일 경로를 수정하세요. */
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.background {
  position: relative; 
}

.background img {
  width: 100%; 
  height: auto;
}

.background h1 {
  position: absolute; 
  top: 65%; 
  left: 30%; 
  transform: translate(-50%, -50%); 
  color: #FFF;
  font-family: Partial Sans KR;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
}

.background p {
  position: absolute;
  top: 85%;
  left: 19%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 30px */
}

.ID,
.PW {
  margin: 20px 20px 0;
}

.ID .inputID,
.PW .inputPW {
  width: 90%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.PWshow {
    margin-left: 20px;
    margin-right: 6px;
}

.ID .inputID:hover,
.PW .inputPW:hover {
  border: 1px solid #F76707;
}

.ID .inputID:focus,
.PW .inputPW:focus{
  outline: 1px solid #F76707;
}

footer p{
    text-align: center;
    margin-top: 20px;
    color: #ff5151;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

footer a{
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline #F76707; /* 호버 시 밑줄 추가 */
}

footer .nextBtn{
    position: fixed;
    bottom: 0;
    width: 89%;
    margin: 20px;
    padding: 18px;
    background-color: #F76707;
    border: 1px solid #ccc;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    text-align: center;
    border-radius: 10px;
}