@font-face {
    font-family: 'Partial Sans KR';
    src: url('/fonts/partialSansKr-Regular.woff2') format('woff2'); /* 파일 경로를 수정하세요. */
    font-weight: normal;
    font-style: normal;
  }

*{
    padding: 0;
    margin: 0;
}

.splash{
    position: relative;
}

img{
    width: 100%;
    height: auto;
}

.splash h1 {
    position: absolute; 
    text-align: center;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #FFF;
    font-family: Partial Sans KR;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
  }