*{
    margin: 0;
    padding: 0;
}

.page{
    margin: 50px;
}

p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px;
}

.a-container{
    width: 320px;
    margin-top: 50px;
    margin-left: 20px;
}

.a-container .adiv{
    padding: 18px;
    text-align: left;
    border: 1px solid #EAEAEA;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.a-container .adiv:hover{
    background-color: #2AC1BC; 
    transform: scale(1.02); 
}