*{
    padding: 0;
    margin: 0;
}

.write-container{
    width: 320px;
    height: 450px;
    border: solid 1px #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.write-container .title{
    width: 80%;
    padding: 15px;
}

.write-container .content{
    width: 80%;
    height: 250px;
    padding: 15px;
}